
.collapse{
	flex: none;
}

    @font-face {
    font-family: 'Bariol Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Bariol Bold'), url('Bariol_Bold.woff') format('woff');
    }
h2{ 
	 /* i need to add the bariol font here*/
	font-family:'Bariol Bold';
	font-weight:bold;
	font-size: 65px;

}
h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-weight: 700;
	font-size: 36px;
}

h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: medium;
	font-weight: 600;
	font-size: 30px;
	line-height: 34px;
}

h5{
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
}
.container-fluid{
	display: inline-flex;
}
.card-sec{
	display: flex;
	flex-direction: row;
}
.card-wrapper{
	display: inline-flex;
	flex-direction: row;
	border: 1px solid #000;
	border-radius: 20px;
}

.card-text{
	padding-left: 10px;
	padding-right: 10px;
	display: inline-flex;
	flex-direction: column;
	font-family: 'Montserrat';
	font-size: 18px;
}
.card-top{
 display: flex;
 justify-content: space-between;
}

.card-mid{
 display: inline-block;
 position: relative;

}

.card-bot{
  display: flex;
  justify-content: space-between;
}
.grid-template-columns{
	align-text: right;
}
.girl{
	vertical-align: bottom;
}
.pie-c{
	justify-content: right;
}
h6, .cb-label-text {
	font-family: 'Montserrat', sans-serif;
	font-weight: semibold;
	font-size: 18px;
}

p{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}
.name-a{
	font-family: 'Montserrat';
	font-size: 24px;
	font-weight: 600;
}

.flex-parent {
	display:  flex;
	margin: 0% 8%;
}
.nav-logo{
	height: 90px;
	width: 202px;
}
#navbarSupportedContent {
	justify-content:  flex-end;
}
.header-title{
	display: inline-block;
}
.container-header-content {
	text-align:  center;
}
.kismet-title{
	display: inline-block;
	color:#6B007C; 
	text-align: left;
	padding-top: 50px;
}

.kismet-title1{
	text-align: center;
	color:#6B007C; 
	padding-top: 50px;
	padding-bottom: 10px;
	font-family:'Bariol Bold';
	font-size: 65px;

	 /* i need to add the bariol font here*/

	
}
.title-val-prop{
	text-align: center;
	margin: 0 5%;
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 30px;
}
.why-kismet-title{
	text-align: center;
	color: #fff;
	padding-bottom: 10px;
	padding-top: 50px;
}


.let-title{
	display: inline-block;

}
.why-kismet{
	display: inline-block;
	background-color: #6B007C;
	width: 100%;

	
}
.why-kismet-words{

	color: #ffff;
	font-weight:500;
	text-align: center;
	padding-bottom: 50px;
	margin: 0 15%;
	font-family: 'Montserrat', sans-serif;
}
.why-title{
	display: inline-block;
	
}
.val-prop1{
	display: inline-block;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.val-prop-title{
	color: #6B007C;
	padding-bottom: 15px;
	padding-top:50px;
	display: flex;
	justify-content: left;

}
.val-prop-link{
	color: #6B007C;
	padding-bottom: 15px;
	padding-top:50px;
	display: flex;
	justify-content: center;
	font-family: 'Montserrat';
	font-size: 30px;
	font-weight: 600;



}
.val-prop-words{
	margin: auto;

}
.val-prop2{
	display: inline-block;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.form-check-input
{
	color:#6B007C ;
	height: 20px;
	width: 20px;
}
.btn-check{
	display: hidden;

}

input[type="checkbox"]{
	
	display: none;	

}

.btn {
	border-radius: 50px;
}
.btn-check
{
	display: inline-block;
	display: grid;
}

.cb input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.cb label {
	cursor:  pointer;
}

.cb .checkmark {
	display: block;
	margin-left:  10px;
    height: 25px;
    width: 25px;
    border: 3px solid #6B007C;
    border-radius: 50%;
}

.footer-basic {
  padding:40px 0;
  background-color:#E5D2E8;
  color:#000000;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}
.cb-label-text
{
	padding-top: 10px;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:2px solid #F2A81D;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.cb input[type="radio"]:checked ~ .checkmark {
	border: 8px solid #6B007C;
}

@media (max-width: 1024px) {
	h3 {
		font-size: 30px;
	}
	h6, .cb-label-text {
		font-size:  16px;
	}
}

@media (max-width: 760px) {
	.test {
		padding: 0% 5%;
	}
	.test1 {
		flex-direction: column;
		align-items: center;
	}
	.image-test, .question, .cb4 {
		padding-bottom:  25px;
	}
	hr {
		margin-top: 0;
	}
	.why-kismet-words{
		margin: 0 0;
	}
	.title-val-prop{
		margin: 0 0;
	}
}